resources/schema/xml/xhtml-1.1/xhtml-inputmode-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified"
 xmlns:xh11d="http://www.w3.org/1999/xhtml/datatypes/"
>
    <xs:import namespace="http://www.w3.org/1999/xhtml/datatypes/" 
               schemaLocation="xhtml-datatypes-1.xsd" />
  <xs:annotation>
    <xs:documentation>
      This is the XML Schema inputmode module for XHTML
      $Id: xhtml-inputmode-1.xsd,v 1.3 2009/11/18 20:54:42 smccarro Exp $
    </xs:documentation>
    <xs:documentation source="xhtml-copyright-1.xsd"/>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
      InputMode 
      
        * inputmode
      
      This module declares the 'inputmode' attribute used for giving hints about how to deal with input
    </xs:documentation>
  </xs:annotation>
  
  <xs:attributeGroup name="xhtml.input.inputmode.attlist">
    <xs:attribute name="inputmode" type="xh11d:FrameTarget"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="xhtml.textarea.inputmode.attlist">
    <xs:attribute name="inputmode" type="xh11d:FrameTarget"/>
  </xs:attributeGroup>

</xs:schema>
