resources/schema/xml/xhtml-1.1/xhtml-rdfa-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.w3.org/1999/xhtml"
    xmlns:xh11d="http://www.w3.org/1999/xhtml/datatypes/" xmlns="http://www.w3.org/1999/xhtml"
    elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation> This is the XML Schema driver for XHTML + RDFa Please use this namespace
            for XHTML elements: "http://www.w3.org/1999/xhtml" $Id: xhtml-rdfa-1.xsd,v 1.2
            2008/07/02 13:26:46 ahby Exp $ </xs:documentation>
        <xs:documentation source="xhtml-copyright-1.xsd"/>
    </xs:annotation>
    <xs:annotation>
        <xs:documentation> This is the Schema Driver file for XHTML + RDFa Document Type This schema
            + imports external schemas (xml.xsd) + refedines (and include)s schema modules for
            XHTML1.1 Document Type. + includes Schema for Named content model for the XHTML1.1
            Document Type XHTML1.1 Document Type includes the following Modules XHTML Core modules
            (Required for XHTML Family Conformance) + text + hypertext + lists + structure Other
            XHTML modules + Edit + Bdo + Presentational + Link + Meta + Base + Scripting + Style +
            Image + Applet + Object + Param (Applet/Object modules require Param Module) + Tables +
            Forms + Client side image maps + Server side image maps + Ruby </xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="xml.xsd">
        <xs:annotation>
            <xs:documentation> This import brings in the XML namespace attributes The XML attributes
                are used by various modules. </xs:documentation>
        </xs:annotation>
    </xs:import>
    <xs:import namespace="http://www.w3.org/1999/xhtml/datatypes/"
        schemaLocation="xhtml-datatypes-1.xsd"/>
    <xs:include schemaLocation="xhtml-rdfa-model-2.xsd">
        <xs:annotation>
            <xs:documentation> Document Model module for the XHTML+RDFa Document Type. This schema
                file defines all named models used by XHTML Modularization Framework for XHTML+RDFa
                Document Type </xs:documentation>
        </xs:annotation>
    </xs:include>
    <xs:include schemaLocation="xhtml-rdfa-modules-2.xsd">
        <xs:annotation>
            <xs:documentation> Schema that includes all modules (and redefinitions) for XHTML1.1
                Document Type. </xs:documentation>
        </xs:annotation>
    </xs:include>
    <!-- link, meta, and a need to be defined directly here -->
    <xs:attributeGroup name="xhtml.a.attlist">
        <xs:attributeGroup ref="xhtml.Common.attrib"/>
        <xs:attribute name="href" type="xh11d:URI"/>
        <xs:attribute name="charset" type="xh11d:Charset"/>
        <xs:attribute name="type" type="xh11d:ContentType"/>
        <xs:attribute name="hreflang" type="xh11d:LanguageCode"/>
        <xs:attribute name="accesskey" type="xh11d:Character"/>
        <xs:attribute name="tabindex" type="xh11d:Number"/>
        <xs:attributeGroup ref="xhtml.a.csim.attlist">
            <xs:annotation>
                <xs:documentation>
                    Redefinition by Client Side Image Map Module
                </xs:documentation>
            </xs:annotation>
        </xs:attributeGroup>
        <xs:attributeGroup ref="xhtml.a.events.attlist">
            <xs:annotation>
                <xs:documentation>
                    Redefinition by XHTML Event Attribute Module
                </xs:documentation>
            </xs:annotation>
        </xs:attributeGroup>
        <xs:attributeGroup ref="xhtml.a.target.attlist">
            <xs:annotation>
                <xs:documentation>
                    Target Module - A Attribute Additions
                </xs:documentation>
            </xs:annotation>
        </xs:attributeGroup>
    </xs:attributeGroup>
    <xs:group name="xhtml.a.content">
        <xs:sequence>
            <xs:group ref="xhtml.InlNoAnchor.mix" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="xhtml.a.type" mixed="true">
        <xs:group ref="xhtml.a.content"/>
        <xs:attributeGroup ref="xhtml.a.attlist"/>
    </xs:complexType>
    <xs:attributeGroup name="xhtml.link.attlist">
        <xs:attributeGroup ref="xhtml.Common.attrib"/>
        <xs:attribute name="charset" type="xh11d:Charset"/>
        <xs:attribute name="href" type="xh11d:URI"/>
        <xs:attribute name="hreflang" type="xh11d:LanguageCode"/>
        <xs:attribute name="type" type="xh11d:ContentType"/>
        <xs:attribute name="media" type="xh11d:MediaDesc"/>
    </xs:attributeGroup>
    <xs:group name="xhtml.link.content">
        <xs:sequence/>
    </xs:group>
    <xs:complexType name="xhtml.link.type">
        <xs:group ref="xhtml.link.content"/>
        <xs:attributeGroup ref="xhtml.link.attlist"/>
    </xs:complexType>
    <xs:attributeGroup name="xhtml.meta.attlist">
        <xs:attributeGroup ref="xhtml.I18n.attrib"/>
        <xs:attribute name="lang" type="xh11d:LanguageCode" />
        <xs:attribute ref="xml:space"/>
        <xs:attribute name="http-equiv" type="xs:NMTOKEN"/>
        <xs:attribute name="name" type="xs:NMTOKEN"/>
        <xs:attribute name="content" type="xh11d:CDATA" use="required"/>
        <xs:attribute name="scheme" type="xh11d:CDATA"/>
        <xs:attribute name="about" type="xh11d:SafeCURIEorCURIEorIRI"/>
        <xs:attribute name="datatype" type="xh11d:TERMorCURIEorAbsIRI"/>
        <xs:attribute name="typeof" type="xh11d:TERMorCURIEorAbsIRIs"/>
        <xs:attribute name="prefix" type="xh11d:PREFIXes"/>
        <xs:attribute name="property" type="xh11d:TERMorCURIEorAbsIRIs"/>
        <xs:attribute name="rel" type="xh11d:TERMorCURIEorAbsIRIs"/>
        <xs:attribute name="resource" type="xh11d:SafeCURIEorCURIEorIRI"/>
        <xs:attribute name="rev" type="xh11d:TERMorCURIEorAbsIRIs"/>
        <xs:attribute name="vocab" type="xs:anyURI"/>
    </xs:attributeGroup>
    <xs:group name="xhtml.meta.content">
        <xs:sequence/>
    </xs:group>
    <xs:complexType name="xhtml.meta.type">
        <xs:group ref="xhtml.meta.content"/>
        <xs:attributeGroup ref="xhtml.meta.attlist"/>
    </xs:complexType>
</xs:schema>
